.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  background-color: #ffffff;
  padding: 0px 10px;
}

.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.about-image img {
  max-width: 90%;
  height: auto;
  border-radius: 20px;
}
span {
  color: rgb(216, 66, 6);
  font-weight: bold;
  font-size: 16px;
}
.about-content {
  flex: 1;
  max-width: 600px;
  text-align: left;
}

.about-content h1 {
  font-size: 3rem;
  color: #2c3e50;
}

.about-content p {
  font-size: 1.4rem;
  color: #555;
  line-height: 1.8;
}

.about-content .social-icons {
  margin-top: 20px;
}

.social-icons a {
  margin: 0 10px;
  font-size: 1.8rem;
  color: #007bff;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #0056b3;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-content h1 {
    font-size: 2.5rem;
  }

  .about-image img {
    max-width: 70%;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  .about-content h1 {
    font-size: 2rem;
  }
  .about-content p {
    font-size: 1rem;
  }
  .social-icons a {
    font-size: 1.5rem;
  }
}
